<h1>Cart</h1>

<% if @cart != {} %>
	<%= link_to 'Clear cart', cart_clear_path %>
<% end %>

<% total = 0.0 %>

<% @cart.each do |id, quantity| %>
	
	<% if Product.find_by_id(id) %>
		<% product = Product.find_by_id(id) %>
	<% else %>
		<% product = CustomProduct.find_by_id(id) %>
	<% end %>


	<li>
		<%= link_to product.name, product %>
		<p>Quantity: <%= quantity %></p>
		<p>Price: <%= number_to_currency(product.price, :unit => '$') %></p>
		<a href="/cart/<%= product.id %>/remove">Remove from cart</a>
	</li>

	<% total += product.price * quantity %> 

<% end %>
<br>

<% if @cart.empty? %>
	<p>Your cart is empty</p>
<% else %>
	<p>Total: <%= number_to_currency(total, :unit => '$') %></p>
	<%= link_to "Checkout" %>
<% end %>