<div class="page_title">
	<h1>Your Cart</h1>
</div>

<div id="cart_contents">
	
	<% if @cart.empty? %>
	
		<p id="empty">Your cart is empty</p>
	
	<% else %>

		<% total = 0.0 %>

		<% item_list = "" %>

		<table id="cart_items">

			<tr>
				<th></th>
				<th></th>
				<th><p>Quantity</p></th>
				<th><p>Price (each)</p></th>			
				<th></th>
			</tr>

			<% @cart.each do |id, info| %>
				
				<% if info[1] == "product" %>
					<% product = Product.find_by_id(id) %>
				<% elsif info[1] == "custom_product" %>
					<% product = CustomProduct.find_by_id(id) %>
				<% end %>

				<% item_list << "#{product.name},#{info[1]} - #{id},#{product.price}.00,#{info[0]}&" %>

				<tr>
					<td>
						<% if defined?(product.main_image) %>
							<%= image_tag(product.main_image(:thumb), :class => "cart_image" , :alt => product.name)%>
						<% else %>
							<%= image_tag(product.image(:thumb), :class => "cart_image" , :alt => product.name)%>							
						<% end %>
					</td>
					<td><%= link_to product.name, product %></td>
					<td><p><%= info[0] %></p></td>
					<td><p><%= number_to_currency(product.price, :unit => '$') %></p></td>
					<td><a href="/cart/<%= product.id %>/remove"><i class="fa fa-remove"></i> </a></td>	
				</tr>

				<% total += product.price * info[0] %>

			<% end %>
			
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td><p>Subtotal: <%= number_to_currency(total, :unit => '$') %></p></td>			
				<td></td>
			</tr>
	
			<tr>
				<th></th>
				<th></th>
				<th></th>
				<th><div id="checkout_button_link"><%= link_to orders_path( :amount => (total.to_s << "0"), :item_list => item_list.to_s ), :method => :post do %><text id="checkout_button">Checkout</text>
					<% end %></div></th>			
				<th></th>
			</tr>
		</table>
	
	<div id="clear_cart">
		<%= link_to 'Clear cart', cart_clear_path %>
	</div>

	<% end %>

</div>