<%= form_for(@custom_product, :html => {:name => "custom_product"}) do |f| %>
  <% if @custom_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@custom_product.errors.count, "error") %> prohibited this custom_product from being saved:</h2>

      <ul>
      <% @custom_product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="page_title">
    <div class="field">
      <h1><%= "Custom " + @category %></h1>
    </div>
    
    <div class="field">
      <div id="product_price"></div>
      <div class="actions", id="cart_div">
        <%= f.submit "Add to Cart", :id => "custom_cart_button" %>
      </div>
    </div>
  </div>

  <div class="hidden_field">
    <%= f.text_field :name, :value => ("Custom " + @category) %>
  </div>

  <div class="hidden_field">
    <%= f.text_field :price %>
  </div>

  <div class="hidden_field">
    <%= f.hidden_field :stock, value: 1, min: 0 %>
  </div>

  <div class="hidden_field">
    <%= f.label :style %><br>
    <%= f.text_field :category, :value => @category %>
  </div>

  <div class="hidden_field">
    <%= f.text_field :user_id, :value => @user_id %>
  </div>

  <div class="hidden_field">
    <%= f.text_area :options %>
  </div>

 <div class="hidden_field">
    <%= f.text_area :imgurl %>
  </div>
    
  <div id="custom_options">
   
    <div id="options_panel">  
      <div id="exterior_options">

        <div id="exterior_materials">
          <% ext_materials = { 'Black Chromexcel' =>  '#000000', 'Marine Chromexcel' => '#006080', 'Oxblood Chromexcel' => '#660000',  'Coffee Chromexcel' => '#4d2800', 'Natural Chromexcel' => '#663500', 'Natural Dublin' => '#663500', 'Natural Essex' => '#ffdd99',  'Black Shell Cordovan' => '#000000', 'Navy Shell Cordovan' => '#000066', 'Rust Shell Cordovan' => '#b37700' , 'Black Shark' => '#333', 'Coffee Shark' => '#4d2800', 'Natural Lizard' => '#fff7e6'  } %>
          <%= label_tag :exterior, "Exterior Leather—" %><span id="exterior_materials_label"></span><br>
          <% ext_materials.each do |material, color| %>
            <%= radio_button_tag "exterior_materials", material %>
            <%= label_tag ("exterior_materials_" + material).to_sym, '', :class => 'label_swatch', :style => ('background-color:' + color), :alt => material %>
          <% end %>
        </div>

        <% if @category == "ID Wallet" %>
          <div id="pockets_interior">
            <%= label_tag :pockets_interior, "Use Exterior Leather for Pockets" %><br>
            <%= check_box_tag :pockets_interior, 1, true %>
          </div> 
        <% end %>
        
        <div id="stitching">
          <% stitch_options = { 'Black Linen' => '#000000', 'White Linen' => '#f2f2f2', 'Brown Linen' => '#660000', 'Natural Linen' => '#fff7e6', 'Blue Linen' => '#0047b3', 'Red Linen' => '#b30000', 'Green Linen' => '#006600', 'Yellow Linen' => '#ffd633' } %>
          <%= label_tag :stitching, "Stitching—" %><span id="stitching_label"></span><br>
          <% stitch_options.each do |material, color| %>
            <%= radio_button_tag "stitching", material %>
            <%= label_tag ("stitching_" + material).to_sym, '', :class => 'label_swatch', :style => ('background-color:' + color), :alt => material %>
          <% end %>
        </div>

        <div id="corners">
          <%= label_tag :corners, "Corners—" %><span id="corners_label"></span><br>
          <%= radio_button_tag "corners", "rounded" %>
          <%= radio_button_tag "corners", "round" %>
          <%= radio_button_tag "corners", "square" %>
        </div>
        
        <div id="edges">
          <% edge_options = { 'Ebony' => '#333', 'Brown' => '#660000', 'Beige' => '#ecd8c6' } %>
          <%= label_tag :edges, "Edges—" %><span id="edges_label"></span><br>
          <% edge_options.each do |material, color| %>
            <%= radio_button_tag "edges", material %>
            <%= label_tag ("edges_" + material).to_sym, '', :class => 'label_swatch', :style => ('background-color:' + color), :alt => material %>
          <% end %>
        </div> 
      </div>

      <div id="interior_options">

        <% int_materials = {"Black Chromexcel" => '#333', "Rust Chromexcel" => '#e64d00', "Natural Chromexcel" => '#663500', "Natural Vermont" => '#ffdd99', "Grey Chevre" => '#8c8c8c', "Navy Chevre" => '#000066', "Cerulean Chevre" => '#0080ff', "Maroon Chevre" => '#800000', "Crimson Chevre" => '#ff0000', "Lemon Chevre" => '#ffff00'} %>
        <div id="interior_materials">
          <%= label_tag :interior, "Interior Leather—" %><span id="interior_materials_label"></span><br>
            <% int_materials.each do |material, color| %>
              <%= radio_button_tag "interior_materials", material %>
              <%= label_tag ("interior_materials_" + material).to_sym, '', :class => 'label_swatch', :style => ('background-color:' + color), :alt => material %>
            <% end %>
        </div>

        <% if @category != "ID Wallet" %>
          <div id="pockets_interior">
            <%= label_tag :pockets_interior, "Use Interior Leather for Pockets" %><br>
            <%= check_box_tag :pockets_interior, 1, true %>
          </div> 
        <% end %>

        <div id="lining">
          <%= label_tag :lining, "Lining—" %><span id="lining_label"></span><br>
            <% int_materials.each do |material, color| %>
              <%= radio_button_tag "lining", material %>
              <%= label_tag ("lining_" + material).to_sym, '', :class => 'label_swatch', :style => ('background-color:' + color), :alt => material %>

            <% end %>
        </div>
     
     
      </div>

      <div id="pocket_options">

        <div id="pockets">
          <%= label_tag :pockets, "Number of Pockets—" %><span id="pockets_label"></span><br>
          <%= radio_button_tag "pockets", "4" %>
          <%= radio_button_tag "pockets", "6" %>
        </div>

        <div id="pocket_shape">
          <%= label_tag :pocket_shape, "Pocket Shape—" %><span id="pocket_shape_label"></span><br>
          <%= radio_button_tag "pocket_shape", "straight" %>
          <%= radio_button_tag "pocket_shape", "notched"%>
          <%= radio_button_tag "pocket_shape", "curved"%>
        </div>     

        <div id="pockets_same">
          <%= label_tag :pockets_same, "Style Pockets Individually" %><br>
          <%= check_box_tag :pockets_same, 1, true %>
        </div>

        <div id="pocket_materials">
          <%= label_tag :pocket_materials, "Pocket Leather—" %><span id="pocket_materials_label"></span><br>
            <% int_materials.each do |material, color| %>
              <%= radio_button_tag "pocket_materials", material %>
              <%= label_tag ("pocket_materials_" + material).to_sym, '', :class => 'label_swatch', :style => ('background-color:' + color), :alt => material %>

            <% end %>
        </div>

        <div id="separate_pockets">
          <div id="pocket_l1">
            <%= label_tag :pocket_l1, "Front Left Pocket—" %><span id="pocket_l1_label"></span><br>
              <% int_materials.each do |material, color| %>
                <%= radio_button_tag "pocket_l1", material %>
                <%= label_tag ("pocket_l1_" + material).to_sym, '', :class => 'label_swatch', :style => ('background-color:' + color), :alt => material %>
              <% end %>
          </div>

          <div id="pocket_l2">
            <%= label_tag :pocket_l2, "Second Left Pocket—" %><span id="pocket_l2_label"></span><br>
              <% int_materials.each do |material, color| %>
                <%= radio_button_tag "pocket_l2", material %>
                <%= label_tag ("pocket_l2_" + material).to_sym, '', :class => 'label_swatch', :style => ('background-color:' + color), :alt => material %>
              <% end %>
          </div>    

          <div id="pocket_l3">
            <%= label_tag :pocket_l3, "Third Left Pocket—" %><span id="pocket_l3_label"></span><br>
              <% int_materials.each do |material, color| %>
                <%= radio_button_tag "pocket_l3", material %>
                <%= label_tag ("pocket_l3_" + material).to_sym, '', :class => 'label_swatch', :style => ('background-color:' + color), :alt => material %>
              <% end %>
          </div>   

          <div id="pocket_r1">
            <%= label_tag :pocket_r1, "Front Right Pocket—" %><span id="pocket_r1_label"></span><br>
              <% int_materials.each do |material, color| %>
                <%= radio_button_tag "pocket_r1", material %>
                <%= label_tag ("pocket_r1_" + material).to_sym, '', :class => 'label_swatch', :style => ('background-color:' + color), :alt => material %>
              <% end %>
          </div>

          <div id="pocket_r2">
            <%= label_tag :pocket_r2, "Second Right Pocket—" %><span id="pocket_r2_label"></span><br>
              <% int_materials.each do |material, color| %>
                <%= radio_button_tag "pocket_r2", material %>
                <%= label_tag ("pocket_r2_" + material).to_sym, '', :class => 'label_swatch', :style => ('background-color:' + color), :alt => material %>
              <% end %>
          </div>    

          <div id="pocket_r3">
            <%= label_tag :pocket_r3, "Third Right Pocket—" %><span id="pocket_r3_label"></span><br>
              <% int_materials.each do |material, color| %>
                <%= radio_button_tag "pocket_r3", material %>
                <%= label_tag ("pocket_r3_" + material).to_sym, '', :class => 'label_swatch', :style => ('background-color:' + color), :alt => material %>
              <% end %>
          </div>   
        </div>
      </div>

      <div id="misc">
        
        <div id="notebook_style">
          <%= label_tag :notebook_style, "Notebook Style—" %><span id="notebook_style_label"></span><br>
          <%= radio_button_tag "notebook_style", "blank" %> 
          <%= radio_button_tag "notebook_style", "ruled" %> 
          <%= radio_button_tag "notebook_style", "grid" %> 
        </div>
        
        <div id="currency">
          <%= label_tag :currency %><br>
          <span id="currency_notice">Foreign wallet dimensions may differ from image.<br></span>
          <%= select_tag :currency,  options_for_select(["US Dollars", "British Pounds", "Euro", "Japanese Yen"]) %>
        </div>
      </div>
    </div>
    
    <div id="product_view_panel">

      <div id="view_container">
        <img id="interior_materials_image" class="product_image"></img>
        <img id="lining_image" class="product_image"></img>
        <img id="pocket_l3_image" class="product_image"></img>
        <img id="pocket_r3_image" class="product_image"></img>
        <img id="pocket_l2_image" class="product_image"></img>
        <img id="pocket_r2_image" class="product_image"></img>
        <img id="pocket_l1_image" class="product_image"></img>
        <img id="pocket_r1_image" class="product_image"></img>
        <img id="stitching_image" class="product_image"></img>        
        <canvas id="product_view" height="547px" width="730px">
        </canvas>
      </div>
      
      <div id="view_choice">
        <%= label_tag :view %><br>
        <%= radio_button_tag "view", "exterior" %>Exterior 
        <%= radio_button_tag "view", "interior", :value => "checked" %>Interior 
      </div>
    </div>

  </div>

<% end %>
