<p>
  <strong>Name:</strong>
  <%= @custom_product.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @custom_product.category %>
</p>

<p>
  <strong>Price:</strong>
  <%= @custom_product.price %>
</p>

<p>
  <strong>User:</strong>
  <%= @custom_product.user_id %>
</p>

<p>
  <strong>Options:</strong>
  <%= @custom_product.options %>
</p>

<%= link_to 'Edit', edit_custom_product_path(@custom_product) %> |
<%= link_to 'Back', custom_products_path %>
