<div id="breadcrumb">
  <%= link_to 'â† Back to Cart', cart_path %>
</div>

<div id="product_images">
  <%= image_tag(@custom_product.imgurl, width: '470px') %>
</div>

<div id="product_info">
  <div class="page_title">
    <h1><%= @custom_product.name %></h1>
  </div>
  <text id="price"><%= number_to_currency(@custom_product.price, :unit => '$') %></text><br>

  <p>
    <strong>User:</strong>
    <%= @custom_product.user_id %>
  </p>

</div>

  <p>
    <strong>Options:</strong>
    <%= @custom_product.options %>
  </p>