<h1>Catalog</h1>
<div id="style_nav">
  <ul>
    <li><%= link_to "All", catalog_path %></li>
    <li><%= link_to "Billfolds", catalog_path(:category => "Billfold") %></li>
    <li><%= link_to "Card Wallets", catalog_path(:category => "Card Wallet") %></li>
    <li><%= link_to "ID Wallets", catalog_path(:category => "ID Wallet") %></li>
    <li><%= link_to "Notebooks", catalog_path(:category => "Notebook") %></li>
  </ul>
</div>
<div id="product_list">
  <% @products.each do |product| %>
    <% if product.stock > 0 %>
      <%= link_to product do %>
        <div class="product_tile">
          <%= image_tag(product.image_url, :alt => product.name) %>
          <div class="product_info">
            <text class="product_title"><%= product.name %></text><br>
            <text class="price"><%= number_to_currency(product.price, :unit => '$') %></text>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>