<h1>Catalog</h1>
<div id="styles">
  <ul>
    <li>All</li>
    <li>Billfolds</li>
    <li>Card Wallets</li>
    <li>ID Wallets</li>
    <li>Zip Wallets</li>
    <li>Notebooks</li>
  </ul>
</div>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image url</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.image_url %></td>
        <td><%= product.price %></td>
        <td><%= link_to 'Show', product %></td>
        <td><a href="/cart/<%= product.id %>">Add to Cart</a></td>
      </tr>
    <% end %>
  </tbody>
</table>