<h1>Catalog</h1>
<div id="style_nav">
  <ul>
    <li>All</li>
    <li>Billfolds</li>
    <li>Card Wallets</li>
    <li>ID Wallets</li>
    <li>Zip Wallets</li>
    <li>Notebooks</li>
  </ul>
</div>
<div id="product_list">
  <% @products.each do |product| %>
    <% if product.stock > 0 %>
      <div class="<%= product.category %>">
        <%= link_to product do %>
          <%= image_tag(product.image_url, :alt => product.name) %>
        <% end %>
        <div class="product_info">
          <%= product.name %>
          <%= product.price %>
          <a href="/cart/<%= product.id %>">Add to Cart</a>
        </div>
      </div>
    <% end %>
  <% end %>
</div>