<div class="page_title">
	<h1>Orders</h1>
</div>

<div id="order_content">
	<% if @orders.length >= 1 %>
			
		<table id="order_table">
			<tr>
				<% if current_user.try(:admin?) %>
					<th><p>User ID</p></th>
				<% end %>
				<th><p>Order Number</p></th>
				<th><p>Description</p></th>
				<th><p>Date</p></th>
				<th><p>Status</p></th>
				<th><p>Amount</p></th>
				<th></th>
				<% if current_user.try(:admin?) %>
					<th></th>
				<% end %>
			</tr>

		<% @orders.each do |order| %>
			<tr>
				<% if current_user.try(:admin?) %>
					<td><%= order.user %></td>
				<% end %>
				<td><%= order.id %></td>
				<td><%= order.description %></td>
				<td><%= order.created_at %></td>
				<td><%= order.shipped == true ? "Shipped" : order.state %></td>
				<td>$<%= order.amount %></td>
				<td><%= link_to 'Show', order %></td>
				<% if current_user.try(:admin?) %>
					<td><%= link_to 'Edit', edit_order_path(order) %></td>
				<% end %>
			</tr>
		<% end %>
		
		</table>

	<% else %>
		<p id="empty">You have no orders.</p>
	<% end %>
</div>