<div id="breadcrumb">
	<%= link_to 'â† Back to Catalog', catalog_path %>
</div>
<div id="product_images">
  <div class="owl-carousel">
		<div><a href="#img1"><%= image_tag(@product.main_image(:medium), :class => "product_image" , :alt => @product.name) %><div class="item" data-hash="zero"></div></div></a>
		<div><a href="#img2"><%= image_tag(@product.interior_image(:medium), :class => "product_image" , :alt => @product.name) %><div class="item" data-hash="one"></div></div></a>
		<div><a href="#img3"><%= image_tag(@product.context_image(:medium), :class => "product_image" , :alt => @product.name) %><div class="item" data-hash="two"></div></div></a>
	</div>
	<a class="button secondary url" href="#zero">interior</a>
	<a class="button secondary url" href="#one">exterior</a>
	<a class="button secondary url" href="#two">context</a>
</div>


<div id="product_info">
	<div class="page_title">
		<h1><%= @product.name %></h1>
	</div>

  <text id="price"><%= number_to_currency(@product.price, :unit => '$') %></text><a href="/cart/<%= @product.id %>?type=product"><text id="cart_button">Add to Cart</text></a><br>
  <div id="product_description"><text><%= @product.short_description %><br>
  Dimensions: <%= @product.dimensions %></text></div><br>
</div>

<a href="#_" class="lightbox" id="img1">
	<%= image_tag(@product.main_image(:large), :class => "product_image" , :alt => @product.name) %>
</a>
<a href="#_" class="lightbox" id="img2">
	<%= image_tag(@product.interior_image(:large), :class => "product_image" , :alt => @product.name) %>
</a>
<a href="#_" class="lightbox" id="img3">
	<%= image_tag(@product.context_image(:large), :class => "product_image" , :alt => @product.name) %>
</a>

