<div id="product_images">
  <%= image_tag(@product.image_url, :alt => @product.name) %>
</div>

<div id="product_info">
  <h1><%= @product.name %><h1><br>
  <%= number_to_currency(@product.price, :unit => '$') %>
  <a href="/cart/<%= @product.id %>?type=product">Add to Cart</a><br>
  <%= @product.short_description %><br>
  <p>Dimensions: <%= @product.dimensions %></p>
  <p>Category: <%= @product.category %></p>  
  <p>Tags: <%= @product.tags %></p>
</div>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
