<nav id="session">
	<% if session[:cart] %>
		<%= link_to "Cart (#{session[:cart].keys.length})", cart_path %>
	<% else %>
		<%= link_to "Cart (0)", cart_path %>
	<% end %>
	<% if user_signed_in? %>
		<div class="dropdown">
	 		<%= current_user.username %><i class="fa fa-chevron-down" aria-hidden="true"></i>
	    <div class = "dropdown_content">
	      <ul>
	        <li><%= link_to "Orders", orders_path %></li>
	        <li><%= link_to "Edit Info", edit_user_registration_path %></li>
	        <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
	      </ul>
	    </div>
	  </div>
	<% else %>
		<%= link_to "Sign in", new_user_session_path %>
	<% end %>
</nav>

<nav id="nav">
	<div id="logo">
		<%= link_to root_path do %>
			<%= image_tag '/assets/site/decade_logotype.gif', :alt => "Decade", :id => "logo" %>
		<% end %>
	</div>
	<div id="pages_nav">
		<%= link_to "Catalog", catalog_path %>
		<%= link_to "Custom", custom_path %>
		<%= link_to "About", about_path %>
	</div>
</nav>

	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>